# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\毕业设计\CRM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
